<div class="container">
<h2><%= @article.title %></h2>
<div class="detail">
<h3><%= @article.content %></h3>
</div>
<a href="/articles/<%= @article.id %>/edit">Edit this article</a>
<p></p>
<a href="/articles/">Back to all articles</a>
</div>